@media (max-width: 1200px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .promo {
        &__wrapper {
            padding-right: 20px;
        }
        &__icons {
            width: 420px;
        }
    }

    .advantages {
        &__item {
            width: 33%;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            width: 210px;
        }
        &__official {
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        .button {
            width: 135px;
            height: 25px;
            font-size: 11px;
        }
    }
    .promo {
        &__wrapper {
            padding: 0;
            align-items: center;
        }
    }
}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    .header {
        padding: 0 5px;
        &__logo {
            width: 140px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 120px;
            height: 20px;
        }
    }

    .promo {
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 12px;
        }
        &__icons {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 20px;
            img {
                margin-bottom: 10px;
            }
        }
        &__link {
            font-size: 12px;
        }
        .button_main {
            margin-top: 30px;
            width: 260px;
        }
    }

    .advantages {
        .title {
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 32px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 100%;
            &_img {
                margin-top: 12px;
            }
            &_title {
                margin-top: 20px;
            }
            &_text {
                margin-top: 12px;
            }
        }
    }
}