@media (max-width: 1200px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .promo {
        &__wrapper {
            padding-right: 20px;
        }
        &__icons {
            width: 420px;
        }
    }

    .advantages {
        &__item {
            width: 33%;
        }
    }

    .consultation {
        .title_left {
            font-size: 34px;
            text-align: center;
        }
        &__descr {
            margin-top: 50px;
            text-align: center;
        }
        .feed-form {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            width: 210px;
        }
        &__official {
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        .button {
            width: 135px;
            height: 25px;
            font-size: 11px;
        }
    }

    .promo {
        &__wrapper {
            padding: 0;
            align-items: center;
        }
    }

    .consultation {
        .title_left {
            font-size: 30px;
        }
        &__descr {
            margin-top: 45px;
        }
    }

    .reviews {
        padding-left: 10px;
        padding-right: 10px;
        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 35px;
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        .title {
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 32px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 100%;
            &_img {
                margin-top: 12px;
            }
            &_title {
                margin-top: 20px;
            }
            &_text {
                margin-top: 12px;
            }
        }
    }

    .consultation {
        &__descr {
            font-size: 18px;
        }
    }

    .carousel {
        &__inner {
            width: 100%;
            div {
                img {
                    width: 100%;
                }
            }
        }
    }

    .catalog {
        &__content {
            justify-content: center;
        }
        &-item {
            &:nth-child(3n+3) {
                margin-right: 20px;
            }
        }
    }

    .reviews {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 50px;
        &__container {
            margin-top: 50px;
        }
        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
        }
        &__wrapper {
            flex-direction: column;
            margin-bottom: 60px;
            text-align: center;
        }
        &__content {
            margin-top: 20px;
        }
    }

    .footer {
        &__info {
            width: 400px;
            height: 250px;
            padding: 38px 60px;
        }
        &__address {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        padding: 0 5px;
        &__logo {
            width: 140px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 120px;
            height: 20px;
        }
    }

    .promo {
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 12px;
        }
        &__icons {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 20px;
            img {
                margin-bottom: 10px;
            }
        }
        &__link {
            font-size: 12px;
        }
        .button_main {
            margin-top: 30px;
            width: 260px;
        }
    }

    .consultation {
        padding-top: 70px;
        min-height: 610px;
        .title_left {
            font-size: 20px;
        }
        &__descr {
            font-size: 16px;
            margin-top: 32px;
        }
        .feed-form {
            width: 70%;
            .button_submit {
                font-size: 14px;
            }
        }
    }

    .carousel {
        .slick-dots li {
            width: 15px;
            height: 15px;
        }
    }

    .catalog {
        .title {
            font-size: 20px;
        }
        &__content {
            margin-top: 50px;
        }
        &__tabs {
            flex-direction: column;
            margin-top: 50px;
        }
        &__tab {
            margin: 5px 0;
            width: 200px;
            height: 30px;
            font-size: 14px;
            line-height: 29px;
        }
    }

    .reviews {
        .title {
            font-size: 20px;
        }
        &__wrapper {
            margin-bottom: 40px;
        }
        &__descr {
            margin-top: 6px;
        }
        &__text {
            margin-top: 8px;
        }
    }

    .footer {
        &__info {
            max-width: 100%;
        }
        &__phone {
            font-size: 18px;
        }
        &__social-item {
            margin: 0 5px;
        }
    }

    .pageup {
        right: 50px;
        width: 30px;
        height: 30px;
    }

    .modal {
        width: 280px;
        padding: 15px;
        form {
            width: auto;
            button {
                height: 40px;
                font-size: 14px;
            }
        }
        &__close {
            right: -30px;
        }
    }

}