.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        background-color: #fff;
        img {
            width: 32px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        bottom: -35px;
        li {
            border-radius: 100%;
            background: grey;
        }
        .slick-active {
            background: blue;
        }
    }
}