.title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #ffffff;
        text-align: left;
    }
}